#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
  display: none;
  top: 0;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
@media screen and (min-width: 645px) {
  #no-mobile {
    display: flex;
  }
  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
